<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964027951802-c7b5l9rsahud1vdk921oh8veqo4u81oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964027951802-c7b5l9rsahud1vdk921oh8veqo4u81oa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>964027951802-a5tf63200ed4qmb21bag71bdb7j9c2vg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARhSe9GvLVCi_gOyrqAUdk6OpXX-gZUH0</string>
	<key>GCM_SENDER_ID</key>
	<string>964027951802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleMao</string>
	<key>PROJECT_ID</key>
	<string>resq-main</string>
	<key>STORAGE_BUCKET</key>
	<string>resq-main.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964027951802:ios:5acbca3421851c40883083</string>
</dict>
</plist>